.container {
  max-width: 400px;
}

.table {
  border-bottom: 2px solid rgb(100, 180, 30);
  margin-bottom: 0px;
}

.table td {
  vertical-align: middle;
  cursor: pointer;
}

.table td:hover {
  background-color: #424649;
}