body {
  background-color: #121212;
  color: #ffffff;
}

.container {
  max-width: 400px;
}

.table {
  border-bottom: 2px solid rgb(100, 180, 30);
}

.table td {
  vertical-align: middle;
  cursor: pointer;
}

.table td:hover {
  background-color: #424649;
}

footer {
  color: #6c757d;
  font-size: 0.8em;
}

footer a,
footer a:active,
footer a:visited {
  color: rgb(100, 180, 30);
  text-decoration: none;
}

footer a:hover {
  color: rgb(100, 180, 30);
  text-decoration: underline;
}