body {
  background-color: #121212;
  color: #ffffff;
}

.table thead th {
  border-top: 1px solid rgb(100, 180, 30);
  border-bottom: 2px solid rgb(100, 180, 30);
}

.table th {
  vertical-align: middle;
}

.table tbody tr:hover {
  background-color: #424649;
}

.table td {
  vertical-align: middle;
  color: rgb(100, 180, 30);
}

.text-center {
  text-align: center;
}

#total {
  font-weight: bold;
}