body {
  background-color: #121212;
  color: #ffffff;
}

.form-control,
.form-control:active,
.form-control:focus {
  background-color: #222;
  border: 1px solid rgb(100, 180, 30);
  color: #fff;
  box-shadow: none;
}

.btn:active,
.btn:focus {
  box-shadow: none;
}

.btn-sm {
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.list-group-item {
  background-color: #343a40;
  border-color: #454d55;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item:hover {
  background-color: #424649;
}

.list-group-item:first-child {
  border-top: 1px solid rgb(100, 180, 30);
  border-radius: 0px;
}

.list-group-item:last-child {
  border-bottom: 2px solid rgb(100, 180, 30);
  border-radius: 0px;
}

.item-container {
  display: flex;
  align-items: center;
}

.item-container.completed {
  text-decoration: line-through;
}