.container {
  max-width: 400px;
}

.calculator {
  background-color: #343a40;
  border-top: 1px solid rgb(100, 180, 30);
  border-bottom: 2px solid rgb(100, 180, 30);
}

.form-control,
.form-control:active,
.form-control:focus {
  padding: 10px;
  text-align: right;
  font-size: 1.5em;
}

.row {
  margin: 0px;
}

.btn {
  margin: 2px;
}